@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Patrick+Hand&family=Satisfy&display=swap');

#banner {
  background-image: url(../Images/banner.jpg);
}

#cards:hover {
  transform: translateY(4px);
}

#eachCard:hover {
  border: 3px solid grey;
  border-radius: 20px;
  background-color: transparent;
}

#bannerText {
  width: 750px;
}
#cyberImg {
  height: 400px;
  margin-bottom: 50px;
}

/* landing page css */

.outerdiv {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -18%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000 0%, #07253a 100%);
  /* font-family: 'Mochiy Pop P One', sans-serif; */
}
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.bubble {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(237, 237, 237, 0.4) 100%
  );
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 10px 0px #00a0b9;
  animation: animate_bubbles 10s linear infinite;
}
.bubble:nth-child(even) {
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(237, 237, 237, 0.4) 100%
  );
}
.bubble::before {
  content: '';
  width: calc(100% - 80%);
  height: calc(100% - 70%);
  position: absolute;
  left: 30%;
  top: 20%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6);
  transform: rotate(20deg);
}
.bubble:nth-child(even)::before {
  left: 40%;
  top: 60%;
  transform: rotate(-20deg);
}
.bubble:nth-child(1) {
  left: -5%;
  width: 100px;
  height: 100px;
  animation-duration: 10s;
}
.bubble:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-duration: 14s;
}
.bubble:nth-child(3) {
  left: 30%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
}
.bubble:nth-child(4) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-duration: 23s;
}
.bubble:nth-child(5) {
  left: 50%;
  width: 80px;
  height: 80px;
  animation-duration: 12s;
}
.bubble:nth-child(6) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-duration: 22s;
}
.bubble:nth-child(7) {
  left: 70%;
  width: 80px;
  height: 80px;
  animation-duration: 25s;
}
.bubble:nth-child(8) {
  left: 75%;
  width: 40px;
  height: 40px;
  animation-duration: 14s;
}
.bubble:nth-child(9) {
  left: 80%;
  width: 100px;
  height: 100px;
  animation-duration: 19s;
}
.bubbles .bubble:nth-child(10) {
  right: -5%;
  width: 80px;
  height: 80px;
  animation-duration: 13s;
}
.bubble:nth-child(11) {
  left: -12%;
  width: 100px;
  height: 100px;
  animation-duration: 31s;
}
.bubble:nth-child(12) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-duration: 14s;
}
.bubble:nth-child(13) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
}
.bubble:nth-child(14) {
  left: 45%;
  width: 40px;
  height: 40px;
  animation-duration: 13s;
}
.bubble:nth-child(15) {
  left: 55%;
  width: 80px;
  height: 80px;
  animation-duration: 12s;
}
.bubble:nth-child(16) {
  left: 60%;
  width: 40px;
  height: 40px;
  animation-duration: 15s;
}
.bubble:nth-child(17) {
  left: 100%;
  width: 80px;
  height: 80px;
  animation-duration: 25s;
}
.bubble:nth-child(18) {
  left: 79%;
  width: 40px;
  height: 40px;
  animation-duration: 14s;
}
.bubble:nth-child(19) {
  left: 80%;
  width: 100px;
  height: 100px;
  animation-duration: 19s;
}
.bubble:nth-child(20) {
  right: 95%;
  width: 80px;
  height: 80px;
  animation-duration: 13s;
}
@keyframes animate_bubbles {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: scale(0) translateY(1000px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translateY(-1000px) rotate(360deg);
    opacity: 0.5;
  }
}

.content {
  z-index: 2;
}

.heading {
  margin-top: 2%;
  margin-left: -18%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 40px;
  color: aliceblue;
  font-family: 'Mochiy Pop P One', sans-serif;
}
.headingsec {
  margin-top: 18%;
  margin-left: -31%;
  text-align: center;
  font-size: 30px;
  padding-top: 15%;
  color: aliceblue;
  /* font-family: "Satisfy", cursive; */
  /* font-family: "Mochiy Pop P One", sans-serif; */
  font-family: 'Patrick Hand', cursive;
}
.circlebtn {
  background-color: rgb(12, 102, 228);
  border: 7px solid rgb(17, 50, 172);
  border-radius: 100%;
  width: 5px;
}
.horiBarFirst {
  width: 6%;
  color: black;
  display: inline-block;
  /* position: absolute; */
  margin-left: 23%;
}
.horiBarSecond {
  width: 6%;
  display: inline-block;
  /* position: absolute; */
}
.firstDiv {
  font-size: 20px;
  color: aliceblue;
  width: 17%;
  text-align: justify;
  margin-top: 2%;
  margin-left: 23%;
  /* font-family: "Satisfy", cursive; */
  font-family: 'Patrick Hand', cursive;
}
.firstBtn {
  border-style: none;
  border-radius: 21%;
  padding: 11px;
  width: 7%;
  background-color: #ff9800;
  font-size: 18px;
  margin-top: 3%;
  margin-left: 23%;
}
.firstBtn:hover {
  background-color: aliceblue;
}
.secondBtn {
  border-style: none;
  border-radius: 21%;
  padding: 10px;
  width: 7%;
  background-color: rgb(51, 145, 240);
  font-size: 18px;
  margin-top: 2%;
  margin-left: 3%;
}
.secondBtn:hover {
  background-color: aliceblue;
}
.hackerimg {
  width: 30rem;
  display: inline-block;
  margin-left: 65%;
  margin-top: -35%;
}
