@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Patrick+Hand&family=Satisfy&display=swap');

#banner {
  background-image: url(../Images/banner.jpg);
}

#cards:hover {
  transform: translateY(4px);
}

#eachCard:hover {
  border: 3px solid grey;
  border-radius: 20px;
  background-color: transparent;
}

#bannerText {
  width: 750px;
}
#cyberImg {
  height: 400px;
  margin-bottom: 50px;
}

/* landing page css */

.outerdiv {
  width: 100%;
  height: 300vh;
  position: relative;
  margin-top: -18%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000 0%, #07253a 100%);
  /* font-family: 'Mochiy Pop P One', sans-serif; */
}
.content {
  z-index: 2;
}

.heading {
  margin-top: 2%;
  margin-left: -18%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 40px;
  color: aliceblue;
  font-family: 'Mochiy Pop P One', sans-serif;
}
.headingsec {
  margin-top: 18%;
  margin-left: -31%;
  text-align: center;
  font-size: 30px;
  padding-top: 15%;
  color: aliceblue;
  /* font-family: "Satisfy", cursive; */
  /* font-family: "Mochiy Pop P One", sans-serif; */
  font-family: 'Patrick Hand', cursive;
}
.circlebtn {
  background-color: rgb(12, 102, 228);
  border: 7px solid rgb(17, 50, 172);
  border-radius: 100%;
  width: 5px;
}
.horiBarFirst {
  width: 6%;
  color: black;
  display: inline-block;
  /* position: absolute; */
  margin-left: 23%;
}
.horiBarSecond {
  width: 6%;
  display: inline-block;
  /* position: absolute; */
}
.firstDiv {
  font-size: 20px;
  color: aliceblue;
  width: 17%;
  text-align: justify;
  margin-top: 2%;
  margin-left: 23%;
  /* font-family: "Satisfy", cursive; */
  font-family: 'Patrick Hand', cursive;
}
.firstBtn {
  border-style: none;
  border-radius: 21%;
  padding: 11px;
  width: 7%;
  background-color: #ff9800;
  font-size: 18px;
  margin-top: 3%;
  margin-left: 23%;
}
.firstBtn:hover {
  background-color: aliceblue;
}
.secondBtn {
  border-style: none;
  border-radius: 21%;
  padding: 10px;
  width: 7%;
  background-color: rgb(51, 145, 240);
  font-size: 18px;
  margin-top: 2%;
  margin-left: 3%;
}
.secondBtn:hover {
  background-color: aliceblue;
}
.hackerimg {
  width: 30rem;
  display: inline-block;
  margin-left: 65%;
  margin-top: -35%;
}
.headingColor {
  font: 5px #10c583;
}
