#banner {
  background-image: url(./banner.jpg);
}

#cards{
  transition: 300ms;
  min-height: 10vh;
}

#cards:hover {
  transform: translateY(-10px);
}


#bannerText {
}
#cyberImg {
  height: 400px;
  margin-bottom: 50px;
}
